/* Fonts */

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-black: #000000;
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --basic-grey-opacity: rgba(169, 169, 169, 0.3);
  --basic-light-grey-opacity: rgba(197, 197, 197, 0.3);
  --basic-red: #EE3643;
  --basic-yellow: #FFBF47;
  --basic-yellow-opacity: rgba(255, 209, 128, 0.3);
  --basic-green: #63A63E;
  --basic-grey: #32425C;
  --basic-dark-grey: #293449;
  --basic-light-grey: #F1F5F7;
  --basic-blue: #405069;



  --special-red: #CA2C37;
  --special-dark-red: #BA2732;
  --special-yellow: #FFD180;
  --special-light-yellow: #F7F3EC;
  --special-blue: #3BBCE3;
  --special-dark-blue: #212A3A;
  --special-dark-focus-blue: #161D29;
  --special-lilac: #DC91D8;
  --special-light-green: #8ED78F;
  --special-green: #5FBB2D;
  --special-grey: #F9F5F0;
  --special-dark-grey: #1D2739;
  --special-light-grey: #A9A9A9;
  --special-dirty-white: #C5C5C5;
  --special-milk-white: #F4F4F4;

  --font-cuprum: 'Cuprum', 'Arial', sans-serif;
  --font-pt-sans: 'PT Sans', 'Arial', sans-serif;
}

/* Global */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.page-body {
  min-width: 940px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-cuprum);
  font-style: normal;
  font-weight: 400;
  background-color: var(--basic-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

/* Grid */

.page {
  height: 100%;
}

/* Header*/

.main-header {
  background: var(--basic-light-grey);
  min-height: 320px;
}

/* Header - Upper block*/

.upper-block-header {
  background: var(--basic-dark-grey);
  height: 42px;
}

.user-navigation {
  font-size: 18px;
  line-height: 24px;
  display: grid;
  grid-template-columns: 220px 271px 450px;
}

.main-logo {
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-black-opacity);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.main-logo:focus {
  background-color: var(--special-dark-red);
}

.products-search input {
  width: 271px;
  height: 42px;
  background-color: transparent;
  color: var(--basic-white);
  border: none;
}

.products-search input::placeholder {
  color: var(--basic-white);
  padding-left: 8px;
}

.products-search input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.orders-products-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.orders-products-item {
  width: 150px;
  height: 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.bookmark-button::before {
  content: url("../img/svg/icon-shape.svg");
  padding-right: 10px;
  opacity: 0.3;
}

.bookmark-button:hover::before {
  opacity: 1;
}

.bookmark-button:focus {
  opacity: 0.3;
  background-color: var(--special-dark-focus-blue);
}

.cart-button-red {
  background-color: var(--basic-red);
}

.cart-button::before,
.cart-button-red::before {
  content: url("../img/svg/icon-cart.svg");
  padding-right: 10px;
  opacity: 0.3;
}

.cart-button:hover::before,
.cart-button-red:hover:before {
  opacity: 1;
}

.cart-button:focus,
.cart-button-red:focus {
  opacity: 0.3;
}

.order-button {
  background-color: var(--basic-green);
}

.order-button:hover {
  background-color: var(--special-green);
}

.order-button:focus {
  color: var(--basic-white-opacity);
}

/* Header - central block*/

.central-block-header {
  height: 158px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.description {
  width: 197px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  align-self: center;
  margin: 0;
}

.header-contacts-block {
  margin: 46px 0;
  justify-self: center;
}

.header-contacts-phone {
  width: 270px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.header-contacts-phone::before {
  content: url("../img/svg/icon-phone.svg");
  padding: 6px 16px 0 40px;
}

.addres {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-grey);
  margin: 0;
  text-align: center;
}

.header-account-block {
  justify-self: end;
  margin: 46px 0;
}

.link-white {
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.login-in {
  width: 121px;
  height: 45px;
  margin-right: 10px;
}

.login-in::before {
  content: url("../img/svg/icon-login-in.svg");
  opacity: 0.3;
  padding-right: 6px;
}

.registration {
  width: 150px;
  height: 45px;
}

.login-in:hover,
.registration:hover {
  color: var(--basic-red);
}

.login-in:hover::before {
  opacity: 1;
}

.login-in:focus,
.registration:focus {
  color: var(--basic-black-opacity);
}

.login-in:focus::before {
  opacity: 0.3;
}

/* Catalog */

.login-out {
  width: 299px;
  height: 45px;
}

.login-out::before {
  content: url("../img/svg/icon-user.svg");
  opacity: 0.3;
  padding-right: 20px;
}

.login-out::after {
  content: url("../img/svg/icon-login-out.svg");
  opacity: 0.3;
  padding-left: 20px;
  padding-top: 6px;
}

.login-out:hover:before,
.login-out:hover:after {
  opacity: 1;
}

.login-out:focus:before,
.login-out:focus:after {
  opacity: 0.3;
}

.login-out:focus {
  color: var(--basic-black-opacity);
}

.links-control {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.orders-link,
.account-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
  padding: 0 15px;
}

.orders-link:hover,
.account-link:hover {
  color: var(--basic-red);
}

.account-link:focus,
.orders-link:focus {
  color: var(--basic-black-opacity);
}

/* Main navigation */

.main-navigation {
  min-height: 60px;
  background: var(--basic-grey);
  box-shadow: inset 0px -5px 0px var(--basic-dark-grey);
}

.site-navigation {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
}

.link-grey {
  min-width: 134px;
  height: 60px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.link-grey:hover {
  background-color: var(--basic-dark-grey);
  box-shadow: inset 0px -5px 0px var(--basic-dark-grey);
}

.link-grey:focus {
  background-color: var(--special-dark-grey);
  color: var(--basic-white-opacity);
}

/* Main services menu */

.upper-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  margin-top: 59px;
  margin-bottom: 20px;
}

.block-service {
  width: 300px;
  height: 123px;
  background-repeat: no-repeat;
  background-position: 85% 50%;
  padding: 20px 23px;
  margin-right: 20px;
}

.name-service {
  color: var(--basic-white);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.link-service {
  color: var(--basic-white);
  width: 135px;
  height: 38px;
  background-color: var(--basic-white-opacity);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.link-service:hover {
  background-color: var(--basic-light-grey-opacity);
}

.link-service:focus {
  background-color: var(--basic-grey-opacity);
}

.materials {
  background-color: var(--basic-yellow);
  background-image: url("../img/svg/icon-materials.svg");
}

.tools {
  background-color: var(--special-blue);
  background-image: url("../img/svg/icon-tools.svg");
}

.equipment {
  background-color: var(--special-lilac);
  background-image: url("../img/svg/icon-equipment.svg");
}

.discounts {
  background-color: var(--special-light-green);
  background-image: url("../img/svg/icon-discounts.svg");
}

.delivery {
  background-color: var(--basic-yellow);
  background-image: url("../img/svg/icon-delivery.svg");
}

/* Bread crumbs */
.bread-crumbs {
  list-style: none;
}

.crumbs-link {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  font-family: var(--font-pt-sans);
}

.crumbs-item::after {
  content: "";
  display: flex;
  width: 8px;
  height: 12px;
  background-image: url("../img/svg/arrow-right-small.svg");
  background-repeat: no-repeat;
  position: relative;
  left: 90px;
  top: -15px;
}

/* Catalog */

.hammer-page {
  min-height: 89px;
  background-color: var(--special-grey);
}

.hammer-page-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
}

.filter-form-title {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--special-light-yellow);
}

.filter-block-title {
  font-family: var(--font-pt-sans);
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.cost-interval input {
  font-family: var(--font-pt-sans);
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--special-light-yellow);
  border: none;
}

.company-choice {
  font-family: var(--font-pt-sans);
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.button-result {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  width: 220px;
  height: 38px;
  background-color: var(--basic-white);
  border: 1px solid var(--special-milk-white);
}

.sort-block {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--special-light-yellow);
}

.sort-list-1,
.sort-list-2 {
  list-style: none;
}

.sort-item-cost {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-red);
  text-transform: uppercase;
}

.sort-item-type,
.sort-item-functional {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-item-type::after {
  content: "";
  display: block;
  width: 53px;
  height: 1px;
  position: relative;
  left: 0;
  top: -2px;
  border-bottom: 1px dotted var(--basic-red);
}

.sort-item-functional::after {
  content: "";
  display: block;
  width: 113px;
  height: 1px;
  position: relative;
  left: 0;
  top: -2px;
  border-bottom: 1px dotted var(--basic-red);
}

.product-list {
  list-style: none;
}

.pages-list {
  list-style: none;
}

.pages-item-1 {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  background: var(--basic-red);
  border-radius: 2px;
}

.pages-item-2,
.pages-item-3,
.pages-item-next {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background: var(--basic-white);
  border: 1px solid var(--special-milk-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.info-block {
  background-color: var(--basic-light-grey);
}

.info-block-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.info-block-text {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/* Gallery */

.slide-1,
.slide-2 {
  position: relative;
}

.name-tools {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
  position: absolute;
  top: -15px;
  left: 25px;
}

.description-tools {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  position: absolute;
  top: 45px;
  left: 25px;
}

.link-red {
  width: 192px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery-link {
  position: absolute;
  left: 25px;
  bottom: 35px;
}

.gallery-link:hover {
  background-color: var(--special-red);
}

.gallery-link:focus {
  background-color: var(--special-dark-red);
}

.photo-tools {
  background-color: var(--special-light-grey);
}

.button-control,
.button-pagination {
  cursor: pointer;
}

.gallery-button-back {
  width: 22px;
  height: 40px;
  background-image: url("../img/svg/arrow-left.svg");
  background-repeat: no-repeat;
}

.gallery-button-next {
  width: 22px;
  height: 40px;
  background-image: url("../img/svg/arrow-right.svg");
  background-repeat: no-repeat;
}

.button-pagination button {
  width: 6px;
  height: 15px;
  border-radius: 50%;
}

/* Popular products */

.popular-products,
.popular-company {
  min-height: 89px;
  background-color: var(--special-grey);
}

.popular-products-name,
.popular-company-name {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
  margin: 0;
}

.product-list {
  font-family: var(--font-pt-sans);
  list-style: none;
}

.product-card {
  width: 220px;
  height: 318px;
  background: var(--basic-white);
  border: 1px solid var(--special-milk-white);
  text-align: center;
}

.product-card-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.product-card del {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--special-light-grey);
}

.product-card p {
  width: 184px;
  height: 164px;
}

.product-card span {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-family: var(--font-pt-sans);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

/* Popular company */

.company-list {
  list-style: none;
}

/* Servises */

.services {
  background-color: var(--basic-light-grey);
}

.service-title,
.service-name {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
}

.service-text-description {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.services-list-button {
  list-style: none;
}

.services-list-button::after {
  content: "";
  display: flex;
  width: 10px;
  height: 279px;
  background-image: url("../img/content/shadow.png");
  background-repeat: no-repeat;
  position: relative;
  left: 230px;
  top: -230px;
}

.services-item-button {
  width: 240px;
  height: 61px;
  background-color: var(--basic-grey);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  border-top: 1px solid var(--basic-blue);
  border-bottom: 1px solid var(--basic-dark-grey);
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.services-item-button:focus {
  width: 240px;
  height: 61px;
  background-color: var(--basic-white);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-grey);
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--basic-grey);
  border-top: 2px solid var(--basic-grey);
}

.services-list {
  list-style: none;
}

.delivery-item::after {
  content: "";
  display: block;
  width: 465px;
  height: 285px;
  background-image: url("../img/content/delivery.png");
  background-repeat: no-repeat;
  position: relative;
}

.guarantee-item::after {
  content: "";
  display: block;
  width: 465px;
  height: 285px;
  background-image: url("../img/content/guarantee.png");
  background-repeat: no-repeat;
  position: relative;
}

.credit-item::after {
  content: "";
  display: block;
  width: 465px;
  height: 285px;
  background-image: url("../img/content/credit.png");
  background-repeat: no-repeat;
  position: relative;
}

/* About */

.about-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-text {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 24px;
}

.partners-list {
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.partners-list li::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-image: url("../img/svg/line.svg");
  background-repeat: no-repeat;
  position: relative;
  left: -35px;
  top: 14px;
}

/* Contacts */

.contacts-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-text {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 24px;
}

.map-link {
  background-color: var(--basic-light-grey);
}

/* Footer*/

.main-footer {
  background-color: var(--basic-grey);
}

.footer-contacts-text,
.contacts-phone {
  font-size: 18px;
  line-height: 24px;
  color: var(--special-milk-white);
}

.site-navigation {
  list-style: none;
}

.site-navigation-link {
  font-size: 18px;
  line-height: 24px;
}

.site-navigation-link:hover {
  text-decoration: underline;
}

.site-navigation-link:focus {
  color: var(--basic-white-opacity);
}

.category-navigation {
  list-style: none;
}

.category-navigation-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellow);
}

.category-navigation-link:hover {
  text-decoration: underline;
}

.category-navigation-link:focus {
  color: var(--basic-yellow-opacity);
}

.footer-lower-block {
  background-color: var(--basic-dark-grey);
}

.social-network-list {
  list-style: none;
}

.social-link {
  width: 44px;
  height: 44px;
  background-color: var(--special-dark-blue);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--basic-red);
}

.copyright,
.footer-feedback,
.developer {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.feedback-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-yellow);
}

.feedback-link:hover {
  text-decoration: underline;
}

.feedback-link:focus {
  color: var(--basic-red);
}

/* Modal feedback */

.modal-feedback {
  width: 620px;
  height: 430px;
  border-top: 7px solid var(--basic-red);
}

.close-modal-button {
  width: 0;
  height: 0;
  position: relative;
  left: -20px;
}

.close-modal-button::after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("../img/svg/icon-close.svg");
  background-repeat: no-repeat;
  position: relative;
  left: 600px;
  top: 10px;
}

.modal-form-send {
  width: 620px;
  height: 112px;
  background-color: var(--special-milk-white);
}

.form-send-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

.modal-form-data {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.modal-form-data input,
.modal-form-data textarea {
  background: var(--basic-white);
  border: 2px solid var(--special-dirty-white);
  border-radius: 2px;
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 24px;
  color: var(--special-light-grey);
}
